/*Base styles*/
body {
  font-family: "Montserrat", sans-serif;
  margin: 0%;
  background-color: #000;
  color: #fff;
  overflow: hidden;
}

/*Main Content Layout*/
main {
  display: flex;
  height: 100vh;
  padding: 0.5em;
}

/* Section 1 - Sidebar Styles */
.sidebar {
  background-color: #000;
  width: 17em;
  margin-right: 0.4em;
}

a {
  color: #fff;
  text-decoration: none;
  font-weight: 700;
}

.nav {
  display: flex;
  flex-direction: column;
  background-color: #121212;
  border-radius: 1rem;
  justify-content: center;
  height: 6.25em;
  padding: 0.5em 0.75em;
}

.nav-option {
  line-height: 2rem;
  opacity: 0.7;
}

.home {
  opacity: 1;
}

.nav-option i {
  font-size: 1.1rem;
  margin: 0.75em 0.75em 0em 1em;
}

.library {
  background-color: #121212;
  border-radius: 1rem;
  margin-top: 0.3em;
}

.options {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.lib-options img {
  height: 1.1em;
  width: 1.1em;
  margin: 0.75em 0.75em 0em 1em;
}

.icons {
  line-height: 2.5rem;
}

.icons i {
  opacity: 0.7;
  padding: 1.3em 1em 0em 1em;
  cursor: pointer;
}

.lib-boxes {
  overflow: auto;
  height: 17.6em;
}

.box {
  display: flex;
  height: 4.5em;
  width: 100%;
}

.box img {
  width: 4em;
  height: 4em;
  border-radius: 15%;
  margin: 0.2em 1em 0em 1em;
}

.box i{
  cursor: pointer;
}

.txt {
  margin-top: 5%;
  position: relative;
}

.box-p1 {
  font-size: 1rem;
  font-weight: 500;
  margin: 0.1em 0em;
}

.box-p2 {
  font-size: 0.7rem;
  font-weight: 600;
  opacity: 0.5;
  margin-top: 0.1em;
}

.badge {
  background-color: #fff;
  border-radius: 100px;
  padding: 0.6rem 1.25rem;
  font-weight: 700;
  border: none;
  margin-top: 0.5em;
  cursor: pointer;
  transition: transform 0.2s ease; 
}

.badge:hover {
  transform: scale(1.1); 
}


.txt i {
  opacity: 0;
  position: absolute;
  top: 0.3em;
  left: 4.9em;
  font-size: 1.8rem;
  color: #1bd760;
  transition: opacity 0.4s ease, transform 0.4s ease;
  cursor: pointer;
}

.content {
  border-radius: 1rem;
  background-color: #121212;
  flex: 1;
  overflow: auto;
}

.sticky-nav {
  position: sticky;
  top: 0%;
  background-color: #141414;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
  z-index: 1;
}

.sticky-nav img:nth-child(1) {
  margin-right: 1em;
}

.sticky-buttons button:nth-child(1) {
  margin-right: 0.5em;
}

.sticky-buttons button:nth-child(2) {
  margin-right: 0.5em;
  background-color: #000;
  color: #fff;
}

.sticky-buttons button:nth-child(2) i {
  margin-right: 0.4em;
  font-size: 1rem;
}

.albums h2 {
  margin-left: 1em;
}

.title-card {
  display: flex;
  justify-content: space-between;
  margin-right: 1em;
}

.cards-container {
  display: flex;
  overflow: auto;
}

.card {
  background-color: #1c1c1c;
  width: 13.5em;
  height: 18.5em;
  border-radius: 0.25em;
  margin-left: 1.4em;
  transition: background-color 0.3s ease;
  position: relative;
}

.card p {
  margin-left: 1em;
}

.card p:nth-of-type(1) {
  font-weight: 700;
}

.card p:nth-of-type(2) {
  font-weight: 600;
  font-size: 0.8rem;
  opacity: 0.6;
}

.roundedImg {
  border-radius: 50%;
}

.card img {
  /* border-radius: 3px; */
  width: 11.5em;
  margin: 1em 1em 0em 1em;
}

.card i {
  opacity: 0;
  font-size: 2.9em;
  position: absolute;
  bottom: 2.2em;
  left: 67%;
  color: #1bd760;
  background-color: #000;
  border-radius: 50%;
  transition: opacity 0.4s ease, transform 0.4s ease;
  cursor: pointer;
}

.albums h5 {
  opacity: 0.7;
}

.footer {
  height: 17em;
  margin: 6em 2em 0em 2em;
}

.line {
  width: 100%;
  height: 30%;
  border-top: 0.1px solid #fff;
  opacity: 0.1;
}

h6 {
  text-align: center;
  font-weight: 300;
  opacity: 0.5;
  font-size: 0.75rem;
}

/* Section 3 - Music Player Styles */
.music-player {
  /*background-color: #000;*/
  background-color: #000;
  position: fixed;
  bottom: 0%;
  width: 100%;
  height: 6em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.player {
  width: 50%;
}

.player-icons {
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.player-icons i:nth-of-type(2),  .player-icons i:nth-of-type(3) {
  font-size: 1.4rem;
  margin: 0.6em 1em 0em 1em;
  opacity: 0.5;
}

.player-icons i:first-child, .player-icons i:last-child {
  opacity: 0.5;
  font-size: 1.2rem;
  margin: 0.8em 0.5em 0em 0.5em;
}

.pause {
  display: none;
  cursor: pointer;
  height: 2em;
  width: 2em;
  margin: 0.6em;
}

.play {
  display: inline;
}

.icon-white {
  height: 2.2em;
  width: 2.2em;
  margin: 0.5em;
}

/*Current music that is being played*/
.wave{
  width: 2em;
  height: 2em;
  margin-right: 0.2em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wave .wave1 {
  width: 3px;
  height: 0.8em;
  background-color: #1bd760;
  margin-right: 3px;
  border-radius: 10px 10px 0px 0px;
  animation: unset; /*unset meaning no animation, so it can be set by js later on*/
}

.song-played{
  display: flex;
  align-items: center;
  margin-left: 3em;
  width: 25%;
}

.song-played img{
  width: 3em;
  height: 3em;
  border-radius: 0.3em;
  margin-right: 0.7em; 
}

.song-played h5{
  opacity: 0.6;
  margin: 0.2rem;
}

/*JS Wave class*/
.active .wave1{
  height: 0.9em; 
  animation-delay: 0.4s; 
  animation: wave .5s linear infinite;
}

.active .wave1:nth-child(2){
  height: 1.3em;  
  animation-delay: 0.6s;
}

.active .wave1:nth-child(3){
  height: 0.6em; 
  animation-delay: 0.2s; 
}

@keyframes wave{
  0%{
    height: 1em;
  }
  50%{
    height: 1.5em;
  }
  100%{
    height: 1em;
  }
}

.sticky-icons i{
  padding: 0.8em;
  cursor: pointer;
  opacity: 0.7;
}

.sticky-icons i:hover{
  opacity: 1;
}

.sticky-buttons i{
  cursor: pointer;
}

.sticky-buttons i:hover{
  transform: scale(1.1);
}

.progress-bar {
  display: flex;
  justify-content: center;
}

.progress-bar span {
  font-size: 0.8rem;
  opacity: 0.7;
}

/* Go on this website for more details about how to style sliders (range input type) */
/* https://www.quirksmode.org/blog/archives/2015/11/styling_and_scr.html */
#seek{
  appearance: none;
  width: 40vw;
  height: 0.4em;
  background: #1bd760;
  border-radius: 2em;
  cursor: pointer;
  margin: 0.45em 0.6em;
}

#seek::-webkit-slider-thumb {
  appearance: none;
  background-color: #ddd;
  height: 1em;
  width: 1em;
  border-radius: 50%; 
}

.controls {
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.controls i{
  margin-right: 0.4em;
}

#volume{
  appearance: none;
  width: 6.5vw;
  height: 0.4em;
  background: #1bd760;
  border-radius: 2em;
  cursor: pointer;
  margin: 0.45em 0.6em;
}

#volume::-webkit-slider-thumb {
  appearance: none;
  background-color: #ddd;
  height: 1em;
  width: 1em;
  border-radius: 50%; 
}

/* Animations */
.nav-option:hover {
  opacity: 1;
}

.icons i:hover {
  opacity: 1;
}

.albums h2:hover,
.albums h5:hover {
  text-decoration: underline;
}

::-webkit-scrollbar {
  width: 15px;
  display: none;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: transparent;
}

::-webkit-scrollbar-thumb:hover {
  background-color: transparent;
}

.card:hover {
  background-color: #292929;
}

.card:hover i {
  opacity: 1;
  transform: translateY(-10px);
}

.box:hover {
  background-color: #292929;
  border-radius: 5%;
}

.box:hover .txt i {
  opacity: 1;
  transform: translateX(-10px);
}

.player-icons i:hover{
  opacity: 1;
}

/* Media queries */
@media (max-width: 1000px) {
  .sticky-icons img:nth-child(2),
  .sticky-buttons button:nth-child(1) {
    display: none;
  }
}